<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <style>
        h1 {color:red;}
        p {color:blue;}
    </style>
</head>
<body>
<h1>Ansible</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque, cum doloremque dolores ducimus enim expedita impedit maxime molestias nihil pariatur quia repellendus reprehenderit sapiente sit totam voluptatum. Harum, omnis.</p>

<h2>Hostname of this server</h2>
<p>{{ ansible_hostname}}</p>

<h2>Server os family</h2>
<p>{{ ansible_os_family }}</p>

<h2>IP address</h2>
<p>{{ ansible_default_ipv4.address }}</p>
</body>
</html>